Makefile
Makefile.in
configure
install-sh
missing
compile
aclocal.m4
config.log
config.status
config.guess
config.sub
depcomp
autom4te.cache
libtool
ltmain.sh
.dirstamp
.deps

src/config.h
src/config.h.in
src/stamp-h1

test-driver
test-suite.log
ut/ut.log
ut/ut.trs

*.o
pppoat
ut/ut
docs/html

*.swp
tags
core
